.trans {
	background: linear-gradient( rgba(89,191,158,1) 25%, rgba(157,189,111,1) 56%, rgba(233,187,59,1) 91%, rgba(253,187,45,1) 100%);
	width: 100%;
	opacity: .8;
	position: fixed;
	height: 100vh;
	z-index: 1;
 }
 .trans-content {
	width: 40%;
	margin: 0.1rem auto;
	background-color: white;
	position: absolutes;
	z-index: 2;
	border-radius: 8px;
/* height: 500px; */
 }



.placeholder{
	padding: 2.5rem;
	text-align: center;
	border: none;
	/* border-bottom: 1px solid gray; */
}
.placeholder input{
	width: auto;
	font-size: 20px;
	border: none;
	border-bottom: 1px solid gray;
	margin: 1rem;
	cursor: pointer;
}

.placeholder :hover{
	cursor: pointer;

}
.container-button {
	  text-align: center;  
	  border: none;
	  /* border-bottom: 1px solid gray; */
				
 } 

 .container-button button {
  
	border: none;
	background-color:#71BA09;
	color: white;
	/* padding: 15px 32px; */
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	margin: 8px 4px;
	cursor: pointer;
	border-radius: 32px;
}
.container-button :hover {
	background-color: blueviolet;
	color: white;
}
.container-button h3 {
	color: gray; 
 }  



 
@media (max-width:600px) {
.trans{
	position: static;

}

.trans-content {
	width: 100%;
}

}